.Sam_page1_containor {
    background-color: #5383E8;

    margin: 0;

    width: 100vw;
    height: auto;

    overflow: hidden;
}


/* ===========================================Header Start=========================================== */
.Sam_page1_header {
    background-color: #1C1C1F;

    width: 100vw;
    height: 3rem;
}

.Sam_page1_menu {
    background-color: #5383E8;

    width: 1080px;
    height: 3rem;
}

.Sam_page1_body {
    background-color: #5383E8;

    width: 1080px;
    height: calc(100% - 6rem - 25%);
}

.Sam_page1_footer {
    background-color: #5383E8;

    width: 1080px;
    height: 30%;
}

.Sam_page1_TopMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;
}

.Sam_page1_opggLogo {
    display: flex;
    align-items: center;
}

.Sam_page1_opggLogo::before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background-image: url('../../../public/image/opggLogo.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

.Sam_page1_TopLeftMenu {
    display: grid;

    grid-template-columns: 10fr 9fr 10fr repeat(6, 9fr);
}

.Sam_page1_TopRightMenu {
    display: grid;

    grid-template-columns: repeat(3, 1fr) 1.5fr;
}

.Sam_page1_TopRightAll, .Sam_Page1_TopLeftAll{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: small;
    color: white;
}

.Sam_Page1_ReactIcon{
    margin-right: .5rem;
}
/* ===========================================Header End=========================================== */


/* ===========================================Main Start=========================================== */

.Sam_page1_main{
    width: 100vw;
    height: calc(100% - 3rem);

    display: flex; 
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

}

.Sam_page1_menu{
    display: flex;

    justify-content: space-between;
    align-items: center;

}

.Sam_page1_subLeftMenu{
    display: grid;

    grid-template-columns: repeat(9, 5rem);
}

.Sam_page1_subRightMenu {
    display: grid;

    grid-template-columns: repeat(1, 10rem);
}

.sam_Page1_subLeftAll, .sam_Page1_subRightAll{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: smaller;
}

.Sam_page1_body{
    display: flex;

    flex-direction: column;

    height: 60rem;
}

.Sam_Page1_body1{
    display: inherit;
    background-color: #5383E8;

    flex: 4 1 auto;

    justify-content: center;
    align-items: center;
}
.Sam_Page1_body2{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #5383E8;

    flex: 2 1 auto
}
.Sam_Page1_body3{
    display: inherit;
    background-color: #5383E8;

    flex: 5 1 auto
}
.Sam_Page1_body4{
    display: inherit;
    background-color: #5383E8;

    flex: 15 1 auto;
    justify-content: center;

    margin-top: 3rem;
}

.sam_Page_middleImg{
    width: 30rem;
    height: 13rem;

    background-image: url('../../../public/image/middle.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

.Sam_Page1_inputBox{
    background-color: white;

    border-radius: 15px;
    
    width: 60%;
}

.Sam_Page1_inputBoxChild{
    display: grid;
    
    grid-template-columns: 3fr 7fr;
    
    padding-left: 2rem;
    padding-right: 2rem;

}

.Sam_Page1_inputBoxChild1{
    font-size: x-small;
    font-weight: bold;
}


.Sam_Page1_Select{
        /* width: 200px; */
        border: white;
        color: gray;
            /* box-sizing: border-box; */
            /* border-radius: 10px; */
            /* font-family: 'Roboto'; */
            /* font-style: normal; */
            /* font-weight: 400; */
            /* font-size: 14px; */
            /* line-height: 16px; */
}

.Sam_Page1_input{
    border: white;
}

.Sam_Page1_inputBoxChild1:first-child{
    margin-left: 3px;
}
.Sam_Page1_inputBoxChild1:last-child{
    margin-left: 10rem;
}

.Sam_Page1_body3{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.Sam_Page1_adverBox{
    display: flex;
    width: 60%;
    align-items: center;
}

.Sam_Page1_adver1{
    width: 100%;
    height: 90%;
    
    background-color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
}
.Sam_Page1_adver2{
    width: 100%;
    height: 90%;
    
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.Sam_Page1_info{
    display: flex;
    width: 60%;
    background-color: #5383E8;

}

.Sam_Page1_infoLeft .Sam_Page1_infoRight{
    background-color: white;

}

.Sam_Page1_infoLeft{
    flex: 5;

    display: grid;
    grid-template-rows: .3fr repeat(5, 1fr);

    align-items: center;

    background-color: white;
    border-radius: 15px;

    padding-left: 1.5rem;
    margin-right: 1.5rem;
}

.Sam_Page1_infoRight{
    flex: 5;
    background-color: white;
    border-radius: 15px;

}

.Sam_Page_infoLeft_title{
    text-align: center;
}
.Sam_Page1_infoLeft_detail{
    display: grid;

    grid-template-columns: 1fr 3fr 3fr;
}

.Sam_Page1_infoRightTop{
    height: 3.5rem;

    background-color: white;

    border-Top-left-radius: 15px;
    border-Top-right-radius: 15px;
}

.Sam_Page1_StandingMenuBox{
    height: 2.5rem;
}

.Sam_Page1_infoRightBox{
    display: flex;


    height: 100%;
    justify-content: space-between;
}

.Sam_Page1_StadingMenu{
    text-align: right;

    font-size: x-small;
}
.Sam_Page1_StadingMenu>span{
    margin-right: 3px;
}

.Sam_Page1_StandingMenu, .Sam_Page1_scheduleMenu{
    flex:  5;
}

.Sam_Page1_Ranking{
    height: calc(100% - 6rem);

    display: grid;
    grid-template-rows: repeat(6, 1fr);

    font-size: x-small;
}

.Sam_Page1_Rankingin{
    display: grid;
    grid-template-columns: 1fr 4fr 2fr .5fr;

    align-items: center;
}

.Sam_Page1_date{
    font-size: x-small;
    text-align: right;
}

.Sam_Page1_match{
    display: grid;
    grid-template-rows: 1fr 1fr;

    height: calc(100% - 6rem);
}
/* ===========================================Main End=========================================== */


/* ===========================================footer Start=========================================== */
.Sam_page1_footerBox{
    display: flex;

    justify-content: space-between;
}

.Sam_page1_footerList{
    list-style-type: none;

    padding: 0;
}

.Sam_page1_footerList>:first-child{
    font-weight: bold;
    margin-bottom: 1rem;

    height: 2rem;

    font-size: medium;
}

.Sam_page1_footerList>li{
    width: 10rem;

    text-align: center;

    color: white;
    font-size: x-small;
    margin-top: .1rem;
}
/* ===========================================footer End=========================================== */